button{
  margin: 5px;
}
.addToCart{
  width: 40px;
  height: 40px;
}
.increment, .decrement{
  width: 40px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  text-align: center;
 }

.productRow, .header{
  display: flex;
  align-items: center;
}
.header > div{
  text-align: center;
}
.productQuantity, .productPrice, .totalPrice{
  text-align: center;
}
.header{
  font-weight: bold;
}
.productRow{
  border-bottom: rgb(128, 128, 128) 2px solid;
  margin-top:1vh;
}


