<div class="container-fluid">
    <div class="header row">
        <div class="col-md-1">ID</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-1">Quantity</div>
        <div class="col-md-1">Price</div>
        <div class="col-md-5"></div>
        <div class="col-md-2">Total price</div>
    </div>
    <div *ngFor="let product of responseData" class="row productRow">
        <div class="productId col-md-1">{{product.id}}</div>
        <div class="productName col-md-2">{{product.name}}</div>
        <div class="productQuantity col-md-1">{{product.quantity}}</div>
        <div class="productPrice col-md-1" >{{product.price}}<b> $</b></div>
        <div class="productButtons col-md-5">
            <button class="btn btn-primary increment">+</button>
            <input class="addToCart" type="number" disabled>
            <button class="btn btn-primary decrement">-</button>

            <button class="btn btn-success">Add to Cart</button>
            <button class="btn btn-warning" (click)="onEdit(product)">Edit</button>
            <button class="btn btn-danger" (click)="onDelete()">Delete</button>

            <app-alert-confirm *ngIf="alertService.confirmRequired == 'delete' " [action]="this.alertService.confirmRequired"
                               (cancel)="alertService.confirmRequired='' " (confirm)="this.alertService.deleteProduct(product.id)"></app-alert-confirm>

            <app-alert-edit *ngIf="alertService.confirmRequired == 'edit' " [product]="this.alertService.productToEdit"
                            (cancel)="alertService.confirmRequired='' " (edit)="alertService.confirmRequired='editConfirm'"></app-alert-edit>

            <app-alert-confirm *ngIf="alertService.confirmRequired == 'editConfirm' " [action]="this.alertService.confirmRequired"
                               (cancel)="alertService.confirmRequired='' " (confirm)="this.alertService.editProduct()" ></app-alert-confirm>

        </div>
        <div class="totalPrice col-md-2">$$$</div>
    </div>
</div>

